.care {
	&__wrapper {
		padding: 90px 52.6px 28px 70px;
		display: flex;
		flex-direction: column;
	}
	&__main {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		&-info {
			max-width: 397px;
			align-self: center;
		}
	}

	&__description {
		max-width: 375px;
	}
	&__button {
		background-color: $primary_color;
	}
	&__main-img {
		background-image: url("../../assets/images/main_img.png");
		width: 547px;
		height: 397px;
		z-index: 4;
	}
	&__video {
		z-index: 4;
		max-width: 228px;
		padding-top: 60.58px;
		display: flex;
		align-items: center;
		&-text {
			margin-left: 12px;
			color: $text_color;
			font-size: 1.3rem;
			line-height: 1.63rem;

			& li:last-child {
				color: $article_textColor;
				font-size: 0.9rem;
				line-height: 1.1rem;
				letter-spacing: 0.165em;
				text-transform: uppercase;
			}
		}
	}
}
