.top-background__container {
	position: relative;
	background-color: $bg_color;
	z-index: 2;
	// @include laptop-l {
	// 	max-width: 990px;
	// }
	// @include media-tablet {
	// 	max-width: 767px;
	// }

	& .color-block {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 295.29px;
		height: 700px;
		background-color: $primary_color;
		border-radius: 30px 0px 0px 30px;
	}
}

.header {
	position: relative;
	z-index: 3;
	&__wrapper {
		padding: 37px 43px 0 52px;
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		// @include media-laptop {
		// 	max-width: 1057px;
		// 	background-color: seagreen;
		// 	justify-content: center;
		// }
	}
	&__burger {
		display: none;
	}
	& .menu {
		font-family: "Raleway", sans-serif;
		display: flex;
		// width: 345px;
		// justify-content: space-between;
		// padding-left: 110px;
		// @include media-laptop {
		// 	padding-left: 10px;
		// }
		// @include media-mobile-large {
		// }
		&__item {
			&:not(:last-child) {
				margin-right: 40px;
			}
		}
		&__link {
			font-size: 1rem;
			line-height: 1.17rem;
			letter-spacing: 1px;
			font-weight: 700;
			color: $article_textColor;
		}
	}

	&__button {
		background-color: $second_color;
	}
}
