$primary_color: #ec5863;
$second_color: #4285f4;
$text_color: #616161;
$button_textColor: #fcfdfe;
$article_textColor: hsl(0, 0%, 0%);
$bg_color: #fafbfd;
$bg_colorWhite: #ffffff;

//media variables
$laptop-b-width: 1440px;
$laptop-l-width: 1200px;
$content-width: 1024px;
$tablet-width: 768px;
$tablet-sm-width: 555px;
$mobile-large-width: 425px;
$mobile-small-width: 320px;
