.content {
	background-image: url("../images/bg_2.png");
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	height: 1200px;
	margin-top: -126px;
	padding-top: 190px; //121212
	padding-bottom: 137.5px;
	& .container {
		text-align: center;
	}
	&__description {
		max-width: 632px;
		margin: 0 auto;
		text-align: center;
		padding: 25px 0 60px 0;
	}
	&__inner {
		display: flex;
		justify-content: center;
		margin: 0 auto;
	}
	&__image {
		width: 100%;
		height: 287px;
		border-radius: 50%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top center;
	}
	&__item {
		max-width: 287px;
		text-align: center;
		&:not(:last-child) {
			margin-right: 60px;
		}
		&-img01 {
			background-image: url("../images/el_01.jpg");
		}
		&-img02 {
			background-image: url("../images/el_02.jpg");
		}
		&-img03 {
			background-image: url("../images/el_03.jpg");
		}
		&-text {
			padding: 40px 0 60px 0;
			font-size: 1.125rem;
			font-weight: 700;
		}
	}
}
