.main {
	padding: 130px 0 220px 0;
	@include sm-tablet {
		padding: 110px 0 150px 0;
	}
	& .container {
		@include sm-tablet {
			text-align: center;
		}
	}
	&__title {
		max-width: 580px;
		@include media-tablet {
			font-size: 3rem;
			line-height: 40px;
		}
		@include sm-tablet {
			margin: 0 auto;
			text-align: center;
			font-size: 2rem;
			max-width: 335px;
		}
		& span {
			color: $primary_color;
		}
	}
	&__description {
		max-width: 500px;
		padding: 25px 0 35px 0;
		@include sm-tablet {
			padding: 20px 0 30px 0;
			max-width: 355px;
			margin: 0 auto;
		}
	}
	&__btn {
		transition: ease all 1s;
		&:hover {
			cursor: pointer;
			-webkit-transform: scale(1.1);
			-ms-transform: scale(1.1);
			transform: scale(1.1);
		}
	}
}
