.menu {
	& .wrapper {
		text-align: center;
	}
	&__description {
		max-width: 632px;
		margin: 0 auto;
		padding: 25px 0 62.5px 0;
		@include sm-tablet {
			padding: 30px 0;
		}
	}

	& .carousel {
		overflow: hidden;
		margin: 0 auto;
		@include sm-tablet {
			margin: 0 10px;
		}

		&-control {
			position: absolute;
			width: 40px;
			height: 40px;
			background-color: transparent;
			font-size: 0;
			box-shadow: 0 4 transparent;
			padding: 1px;
			top: 40%;
			border: none;
			z-index: 22;

			cursor: pointer;
			&__right {
				left: 10%;
			}
			&__left {
				right: 10%;
			}
		}
		&__inner {
			position: relative;
			@include sm-tablet {
				display: flex;
				flex-wrap: wrap;
				justify-content: center; //11111111111111111111111
				align-items: center;
			}
		}
		&__item {
			position: relative;
			max-width: 288px;

			border-radius: 4px;
			@include sm-tablet {
				width: 355px;
				margin-bottom: 10px;
			}

			&-img {
				box-shadow: 0px 4px rgba(0, 0, 0, 0.25);
				width: 100%;
				height: 508px;
				@include media-tablet {
					height: 400px;
				}
				@include sm-tablet {
					height: 300px;
				}
				@include sm-tablet {
					display: block;
					background: #222;
					color: #fff;
					opacity: 0.7;
					transition: 0.5s ease;
					&:hover {
						opacity: 1;
					}
				}
			}
		}

		&__title {
			position: absolute;
			top: 90%;
			left: 50%;
			transform: translate(-50%, -90%);
			width: 280px;
			@include media-laptop {
				width: 240px;
			}
			@include sm-tablet {
				top: 30%;
				left: 50%;
				transform: translate(-50%, -30%);
				width: 239px;
				margin: 0;
			}
		}
	}
}

.slick-slide,
.slick-active + .slick-active ~ .slick-active {
	display: block;
	padding: 0 5px;
	background: #222;
	color: #fff;
	transform: scale(1);
	opacity: 0.7;
	transition: 0.5s ease;
}

.slick-active + .slick-active {
	transform: scale(1.1);
	opacity: 1;
	& .carousel__btn {
		display: block;
	}
}

.carousel__btn {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 221px;
	background: rgba(0, 0, 0, 0.65);
	padding: 21px 50px;
	border: 2px solid rgba(255, 255, 255, 0.6);
	font-weight: 900;
	@include media-laptop {
		width: 181px;
		padding: 21px 20px;
	}

	@include sm-tablet {
		width: 229px;
		padding: 21px 50px;
		display: block;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
