.h3{
   font-size: 35px;
   line-height: 39px;
   color: #f00000;
}
p{
   font-size: 20px;
   color: gray;
   font-weight: normal;
   line-height: 40;
   padding-bottom: 34px;
}
.block{
   height: 100px;
   width: 100px;
   background-color: #ff0000;
}