@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&family=Rubik:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Rubik", sans-serif;
  height: 100%;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.default-button {
  width: 144px;
  height: 40px;
  border-radius: 5px;
  border: none;
  color: #fcfdfe;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.17rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.default-button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.default-description {
  font-size: 1.2rem;
  color: #616161;
  font-weight: 400;
  line-height: 1.7rem;
  letter-spacing: 0.08em;
  padding: 12px 0 24px 0;
}

h2 {
  margin: 0;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 5.5rem;
  color: black;
}

h2 span {
  color: #4285f4;
}

h3 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.2rem;
  letter-spacing: 0.08em;
  text-align: center;
}

.top-background__container {
  position: relative;
  background-color: #fafbfd;
  z-index: 2;
}

.top-background__container .color-block {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 295.29px;
  height: 700px;
  background-color: #ec5863;
  border-radius: 30px 0px 0px 30px;
}

.header {
  position: relative;
  z-index: 3;
}

.header__wrapper {
  padding: 37px 43px 0 52px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__burger {
  display: none;
}

.header .menu {
  font-family: "Raleway", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .menu__item:not(:last-child) {
  margin-right: 40px;
}

.header .menu__link {
  font-size: 1rem;
  line-height: 1.17rem;
  letter-spacing: 1px;
  font-weight: 700;
  color: black;
}

.header__button {
  max-width: 130px;
  background-color: #4285f4;
}

.care__wrapper {
  padding: 90px 52.6px 28px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.care__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.care__main-info {
  max-width: 397px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.care__description {
  max-width: 375px;
}

.care__button {
  background-color: #ec5863;
}

.care__main-img {
  background-image: url("../../assets/images/main_img.png");
  width: 547px;
  height: 397px;
  z-index: 4;
}

.care__video {
  z-index: 4;
  max-width: 228px;
  padding-top: 60.58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.care__video-text {
  margin-left: 12px;
  color: #616161;
  font-size: 1.3rem;
  line-height: 1.63rem;
}

.care__video-text li:last-child {
  color: black;
  font-size: 0.9rem;
  line-height: 1.1rem;
  letter-spacing: 0.165em;
  text-transform: uppercase;
}

.stay-safe__wrapper {
  padding: 79px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stay-safe__info {
  max-width: 379px;
}

.stay-safe__title span {
  color: #ec5863;
}

.stay-safe__button {
  background-color: #ec5863;
}

.experts {
  background-color: #fafbfd;
}

.experts__wrapper {
  padding: 53px 71px 116px 92px;
}

.experts__counter {
  margin: 0 auto;
  padding: 50.9px 75.9px 32.8px 31px;
  width: 761.89px;
  background-image: url("../../assets/images/counter_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.experts__counter-inner {
  max-width: 654px;
  height: 100%;
  background-color: #ffffff;
  padding: 28px 80px;
  -webkit-box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
          box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.experts__counter-item {
  text-align: center;
}

.experts__counter-total {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4.3rem;
  letter-spacing: 0.14em;
  text-align: center;
  color: #ec5863;
}

.experts__counter-name {
  font-size: 1.1rem;
  line-height: 1.3rem;
  color: black;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

.experts__content {
  padding-top: 46.26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.experts__main-info {
  max-width: 393px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.experts__button {
  background-color: #ec5863;
}

.experts__img {
  padding: 24.5px 94.4px;
  max-width: 521.17px;
  height: 284px;
  background-color: #ffffff;
  border-radius: 8px;
  -webkit-filter: drop-shadow(0px 4px 18px rgba(88, 126, 236, 0.18));
          filter: drop-shadow(0px 4px 18px rgba(88, 126, 236, 0.18));
}

.experts__img-block {
  background-image: url("../../assets/images/experts.png");
  width: 332.45px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  position: relative;
}

.experts__img-video {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-top: -20px;
  display: inline-block;
  width: 40.79px;
  height: 40.79px;
  background-color: #4285f4;
  border-radius: 50%;
}

.healthcare__wrapper {
  padding: 79.59px 55px 0 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.healthcare__info {
  text-align: center;
}

.healthcare__title span {
  color: #ec5863;
}

.healthcare__description {
  max-width: 600.9px;
  margin: 0 auto;
}

.healthcare__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1100px;
  height: 369px;
  background: url("../../assets/images/counter_bg.png") center;
  background-size: contain;
  background-repeat: repeat-x;
}

.healthcare__cards-wrapper {
  width: 278.17px;
  height: 276.52px;
  padding: 36.65px 17.82px;
  background-color: #ffffff;
  border-radius: 8px;
  -webkit-filter: drop-shadow(0px 4px 18px rgba(88, 126, 236, 0.18));
          filter: drop-shadow(0px 4px 18px rgba(88, 126, 236, 0.18));
}

.healthcare__cards-wrapper:not(:last-child) {
  margin-right: 70px;
}

.healthcare__cards-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.healthcare__cards-title {
  padding: 58px 0 4px 0;
}

.healthcare__cards-description {
  padding-top: 0;
  max-width: 238px;
  text-align: center;
}
