@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Noto Sans", sans-serif;
  color: #fff;
  line-height: 136%;
  font-weight: 400;
}

.container {
  max-width: 1244px;
  margin: 0 auto;
  padding: 0 20px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  color: #fff;
  background-color: #b82121;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px rgba(0, 0, 0, 0.25);
  padding: 21px 49px 20px 49px;
  font-size: 0.88rem;
  line-height: 136%;
}

.title {
  color: #fff;
  font-weight: 900;
  line-height: 127%;
}

h1 {
  font-size: 3.44rem;
}

h2 {
  text-align: center;
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

.top-background {
  background-image: url("../images/bg_1.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.header {
  width: 100%;
  height: 66px;
  padding-top: 5px;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-item:not(:last-child) {
  margin-right: 60px;
  font-weight: 500;
}

@media (max-width: 1024px) {
  .header__nav-item:not(:last-child) {
    margin-right: 30px;
  }
}

.header__callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__callback-tell {
  margin-right: 30px;
  font-size: 1.31rem;
  line-height: 138%;
}

.header__callback-image {
  margin-right: 10px;
}

.header__callback-link {
  margin-right: 15px;
}

.main {
  padding: 130px 0 220px 0;
}

.main__title {
  max-width: 580px;
}

.main__title span {
  color: #b82121;
}

.main__description {
  max-width: 500px;
  padding: 25px 0 35px 0;
}

.connent-background {
  background-image: url("../images/bg_02.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  margin-top: -125px;
  padding-top: 190px;
}

.content {
  padding-bottom: 137.5px;
}

.content .container {
  text-align: center;
}

.content__description {
  max-width: 632px;
  margin: 0 auto;
  text-align: center;
  padding: 25px 0 60px 0;
}

.content__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.content__image {
  width: 100%;
  height: 287px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.content__item {
  max-width: 287px;
  text-align: center;
}

.content__item:not(:last-child) {
  margin-right: 60px;
}

.content__item-img01 {
  background-image: url("../images/el_01.jpg");
}

.content__item-img02 {
  background-image: url("../images/el_02.jpg");
}

.content__item-img03 {
  background-image: url("../images/el_03.jpg");
}

.content__item-text {
  padding: 40px 0 60px 0;
  font-size: 1.125rem;
  font-weight: 700;
}

.menu .wrapper {
  text-align: center;
}

.menu__description {
  max-width: 632px;
  margin: 0 auto;
  padding: 25px 0 62.5px 0;
}

.menu .carousel {
  overflow: hidden;
}

.menu .carousel__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .carousel__item {
  position: relative;
  max-width: 288px;
}

.menu .carousel__item-img {
  height: 508px;
}

.menu .carousel__block {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -40%;
  margin-top: -10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu .carousel__btn {
  background: rgba(0, 0, 0, 0.65);
  padding: 21px 55px 20px 55px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  font-weight: 900;
}

.menu .carousel__title {
  margin: 190px auto 30px auto;
}

.delivery {
  background-image: url("../images/bg_03.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding-top: 160px;
  margin-top: -3px;
}

.delivery__description {
  padding: 25px 0 60px 0;
  margin: 0 auto;
  text-align: center;
  max-width: 632px;
}

.delivery__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 160px;
}

.delivery__content-variant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.delivery__content-variant:not(:last-child) {
  margin-bottom: 50px;
}

.delivery__content-icon {
  max-width: 120px;
  height: 120px;
}

.delivery__content-text {
  max-width: 380px;
  margin-left: 30px;
  font-size: 1.13rem;
  font-weight: 700;
}

.delivery__content-image {
  max-width: 605px;
}

.delivery__content-image img {
  width: 100%;
  height: 460px;
}

.gallery-wrapper {
  width: 100%;
}

.gallery__slider {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.gallery__slider-img {
  width: 100%;
  height: 269px;
  margin: 0;
  padding: 0;
}

.footer {
  background-color: #000000;
  padding: 37px 0 33px 0;
}

.footer__top {
  padding-bottom: 37px;
}

.footer__top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__top-social {
  text-align: center;
}

.footer__callback {
  vertical-align: top;
}

.footer__address {
  max-width: 240px;
  font-size: 0.88rem;
}

.footer__email {
  font-size: 0.88rem;
}

.footer__bottom-inner {
  font-size: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__bottom-documents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__bottom-text:not(:last-child) {
  margin-right: 30px;
}
